
.modifier .carrossel__count {
    position: fixed;
    bottom: 40px;
}

.popup__container--popup {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.carrossel__img--popup {
    width: 100%;
    height: 100%;
}    

.modifier .grid-area-height {
    flex-direction: column !important;
}
.modifier .card__grid--mobile {
    height: 100%;
}


.modifier .programacao {
    display: flex;
    justify-content: center;
}

.modifier .grid-area-height,
.modifier .card__img,
.modifier .card__grid,
.modifier .card {
    height: max-content;
}

.modifier .card {
    flex-direction: column;
}

.modifier .inicio__ctn--loading {
    min-height: 100%;
}

.modifier .controlls {
    display: none;
}
.modifier .carrossel {
    position: fixed;
}
